<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="teamManagerApp" id="container" layout="column" ng-controller="MainController as main">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an
  <strong>outdated</strong>browser. Please
  <a href="http://browsehappy.com/">upgrade your browser</a>to improve your experience.</p>
<![endif]-->
<md-toolbar layout="column" layout-align="start space-between" class="md-whiteframe-8dp">
  <section layout="row" layout-align="space-between center">
    <md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Menu">
      <md-icon md-font-set="material-icons">menu</md-icon>
    </md-button>
    <h3 layout-margin layout-padding class="md-headline">Prospect Robotics</h3>
    <md-button class="md-icon-button" ng-click="showSettings($event)" aria-label="Settings">
      <md-icon md-font-set="material-icons">settings</md-icon>
    </md-button>
  </section>
  <section layout="row" layout-align="end center">
    <!--
    <md-input-container class="md-block" flex="35" >
      <label>Filter</label>

      <md-select ng-model="filter">
        <md-option>None</md-option>
        <md-option>Software</md-option>
        <md-option>Electrical</md-option>
        <md-option>CAD</md-option>
        <md-option>Hardware</md-option>
      </md-select>
    </md-input-container>
    -->
  </section>
</md-toolbar>
<md-button ng-show="officer==true" ng-click="showNewJob($event)" class='md-fab md-fab-bottom-right'>
  <md-icon md-icon-set="material-icons">add</md-icon>
</md-button>
<div layout="row">
  <md-sidenav class="test md-sidenav-left md-whiteframe-z3" md-component-id="left">
    <md-content layout-margin ng-controller="SidenavController as nav">
      <md-list layout="column">
        <md-subheader class="md-no-sticky">Menu Here</md-subheader>
        <div ng-controller="AuthController as auth">
          <md-list-item ng-show="officer == true" ng-click="logout()">
            <p>Logout</p>
            <md-icon md-icon-set="material-icons">exit_to_app</md-icon>
          </md-list-item>
          <md-list-item ng-hide="officer==true" ng-click="showLogin()">
            <p>Login</p>
            <md-icon md-icon-set="material-icons">account_circle</md-icon>
          </md-list-item>
        </div>
      </md-list>
    </md-content>
  </md-sidenav>
  <div flex="100" ui-view></div>
</div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/jobs.js"></script>
<script src="scripts/controllers/sidenav.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/controllers/auth.js"></script>
<script src="scripts/controllers/newjob.js"></script>
<script src="scripts/services/newjob.js"></script>
<script src="scripts/controllers/editjob.js"></script>
<script src="scripts/services/auth.js"></script>
<!--<script src="scripts/services/name.js"></script>
<script src="scripts/directives/name.js"></script>-->
<script src="scripts/services/currentjob.js"></script>
<script src="scripts/services/archive.js"></script>
<!-- endbuild -->
</body>

</html>
