 <md-content layout="column" class="md-padding" flex>
        <md-grid-list md-cols="3" md-cols-sm="1" md-cols-md="2" md-gutter="1em" md-row-height="1:1">
            <md-grid-tile ng-repeat="job in jobs" md-rowspan="2" md-colspan="1">
                <md-card>
                    <!--<a href="#" title="{{post.title}}" ng-click="toggleRight(post)">-->
                    <!--<img src="{{post.featured_image.attachment_meta.sizes.medium.url}}">-->
                    <!--</a>-->
                    <md-card-content>
                        <h3 class="mb-post-title" ng-bind-html="post.title"></h3>
                        <div class="mb-post-excerpt" ng-bind-html="post.excerpt"></div>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    </md-content>