 <md-content layout="column" class="md-padding" flex>
        <md-grid-list id="highPriority" md-cols="3" md-cols-sm="1" md-cols-md="2" md-gutter="1em" md-row-height="1:1">
            <md-grid-tile ng-repeat="job in high" md-rowspan="2" md-colspan="1">
                <md-card>
                    <md-card-content>
                        <h2>{{job.name}}</h2>
                        <p>{{job.description}}</p>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
        <md-grid-list id="midPriority" md-cols="3" md-cols-sm="1" md-cols-md="2" md-gutter="1em" md-row-height="1:1">
            <md-grid-tile ng-repeat="job in mid" md-rowspan="2" md-colspan="1">
                <md-card>
                    <md-card-content>
                        <h2>{{job.name}}</h2>
                        <p>{{job.description}}</p>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
        <md-grid-list id="lowPriority" md-cols="3" md-cols-sm="1" md-cols-md="2" md-gutter="1em" md-row-height="1:1">
            <md-grid-tile ng-repeat="job in low" md-rowspan="2" md-colspan="1">
                <md-card>
                    <md-card-content>
                        <h2>{{job.name}}</h2>
                        <p>{{job.description}}</p>
                    </md-card-content>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    </md-content>